body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* For Firefox */
/* Set the width of the scrollbar */
html {
  scrollbar-width: thin;
  scrollbar-width: 10px;
  /* Width of the scrollbar */
}

/* Set the color and shape of the thumb */
html {
  scrollbar-color: #ccc transparent;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #191919;
  border-radius: 0px;
}



a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.custom-navbar {
  background: #46af5185;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.09);
}
.main-bg {
  position: absolute;
  background-size: cover;
  background-position: center center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: rgb(34, 193, 195);
  background: linear-gradient(295deg, rgb(96 132 191 / 73%) 0%, rgb(118 177 106 / 71%) 100%);
  z-index: 11;
}

.main-section {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-section .detail-box {
  position: relative;
  z-index: 12;
  color: #fff;
  margin: 100px 0 0px auto;
  padding: 30px 70px;
}

.nav{
  padding: 0px 83px;
}
.main-section .detail-box h1 {
  font-size: 50px;
  background: linear-gradient(to right, #f7fcfc -8%, #4aff00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-section .main-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

.main-section .main-bg-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.search-bar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 75%;
  background: #fff;
  padding: 15px;
  border-radius: 20px;
  margin: 30px 0px 60px 0px;
}
.search-bar .form-control:focus {
  color: #191919;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}
.search::-webkit-input-placeholder { 
  color: #76768b;
  font-weight: 500;
 }
a.nav-link{
  color: #fff;
  padding: 6px;
  margin: 5px;
  border-radius: 5px;
}
a.nav-link:hover {
  background: #00000036;
  border-radius: 5px;
  color: #fff;
}
.logo{
  margin-right: 20px;
}
.filter-section .fliter-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
  border-bottom: 1px solid #dee2e6;
}

.filter-section .fliter-div .place, .filter-section .fliter-div .date{
  padding: 10px;
  color: #515254;
}
.date .form-select{
  cursor: pointer;
  border: none;
  color: #515254;
  background-position: left 3.75rem center;
}
.date .form-select:focus {
  box-shadow: none;
}
.background-image {
 background-image: none;
}
.vl {
  border-left: 1px solid #ccc;
  height: 15px;
  margin: 0px 20px 0px 20px;
}
.filter-layout {
  padding: 60px 85px;
}
.filter-events .card-title {
  margin-bottom: 0.5rem;
  bottom: 0;
  position: absolute;
  font-size: 18px;
}
.filter-events .card{
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}
.filter-events .card img{
  height: 108px;
  object-fit: cover;
  transition: 0.5s all ease-in-out;
}
.filter-events .card:hover img{
  transform: scale(1.5);
}
.like-btn {
  display: inline-block;
  Cursor: pointer;
  width: 50px;
  height: 20px;
  position: absolute;
  right: 0;
}

.like-btn {
  background: url('../img/heart.png') no-repeat 0% 50%;
  background-size: 2900%;
}

.like-active{
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.like-active {
  animation-timing-function: steps(28);
}

@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}
h3.filter-heading {
  font-size: 24px;
  margin-bottom: 20px;
}
.filter-speakers{
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.filter-speakers .card{
  border: 0px;
}
.filter-speakers .card .card-body{
  padding: 0px;
  color:#191919;
}
.filter-speakers .card .card-body .card-title{
  margin-top: 10px;
  font-size: 16px;
  color: #646060;
}
.ticket-section {
  background: rgb(34, 193, 195);
  background: linear-gradient(276deg, #1376a4 0%, #82c063 100%);
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ticket-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ticket-section h2{
  color: #fff;
  font-size: 50px;
}
.ticket-section p{
  text-align: center;
  color: #ccc;
  font-size: 20px;
}
.ticket-section button{
  text-align: center;
}
.register-btn{
  display: inline-block;
  padding: 10px 15px;
  background-color: #fff;
  color: #03060a;
  border: 1px solid #fff;
  border-radius: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-top: 18px;
  font-weight: 600;
  cursor: pointer;
}
.register-btn:hover{
  display: inline-block;
  padding: 10px 15px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.guarant-section {
  padding: 30px 85px;
}
.left-side{
  padding: 30px 45px;
}
.left-side p{
    font-size: 21px;
    color: #515254;
}
.right-img {
  display: flex;
  justify-content: center;
}
.inner-left {
 margin-top: 4rem;
}
.inner-left h2{
  font-size: 18px;
  color: #191919;
}
.inner-left p{
  font-size: 16px;
  color: #6b6666;
}
.icon-square {
  background: #ecf4fd;
  border-radius: 40%;
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guarant-section{
  margin: 60px 0px 60px 0px;
}
.places {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 115px;
  font-size: 14px;
}
.places a:hover {
  color: #002bff;
  font-weight: 400;
}
.row.quick-link {
  padding: 40px 45px;
}

ul li{
  list-style: none;
}
.quick-link h5{
  font-size: 18px;
  color: #6a6a6a;
  margin-bottom: 16px;
}
.quick-link ul{
  padding-left: 0px;
}
.quick-link ul li{
  margin-bottom: 16px;
}
.quick-link ul li a{
  color: #6a6a6a;
  font-size: 14px;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.quick-link ul li a:hover {
  color: #494848;
  font-weight: 500;
}
.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe-box h5{
 color: #494949;
 text-align: center;
 font-size: 20px;
}
.subscribe-box p{
  color: #515254;
  text-align: center;
  font-size: 16px;
 }
 .email {
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 10px;
}
.email .form-control {
  border: 0px solid #ced4da;
}

.email .form-control:focus {
  box-shadow: none;
}
button#button-send {
  background: #7abd66;
  color: #fff;
  font-weight: 700;
  border-radius: 10px;
}
button#button-send:hover {
  background: #4eb35a;
  border: 1px solid #3a8643;
}
.divider{
  border-bottom: 1px solid #dee2e6 !important;
  margin: 0px 45px;
}
.copyright {
  padding: 25px 45px;
}
.copyright a{
  color: #515254;
  padding: 5px;
  font-size: 14px;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.copyright a:hover {
  color: #2b2a2a;
}
.rights{
  color: #515254;
  font-size: 14px;
}
.external-links{
  text-decoration: underline;
}
.external-links:hover {
  color: #111111;
}
.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.speakerslider {
  position: relative;
}

.speakerslider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -20px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
}
.speakerslider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/right.png") 0
    0 / 100% no-repeat;
    display: none!important;
}
.speakerslider .slick-arrow.slick-next {
    right: -7px;
    background: url(../img/right.png) 0 0 / 50% no-repeat;
    background-color: white;
    padding: 14px;
    background-position: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    box-shadow: 0 0 4px 0px #dddddd;
}
.speakerslider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.speakerslider .slider-item {
    padding-right: 15px;
}
.speakerslider .slider-item img {
  max-width: 100%;
}


.eventsslider {
  position: relative;
}

.eventsslider .slick-arrow {
  position: absolute;
  top: calc(50% - 45px);
  margin: -20px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
}
.eventsslider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/left.png") 0
    0 / 100% no-repeat;
    display: none!important;
}
.eventsslider .slick-arrow.slick-next {
    left: -20px;
    background: url("../img/left.png") 0
    0 / 50% no-repeat;
    background-color: white;
    padding: 14px;
    background-position: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    box-shadow: 0 0 4px 0px #dddddd;
}
.eventsslider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.eventsslider .slider-item {
    padding-right: 15px;
}
.eventsslider .slider-item img {
  max-width: 100%;
}

